
    <!-- Our content here -->
      <main>
        <!-- screen content -->
        <!-- Search options Sort and Filter -->
            <div class="search-options" align="center">
                    <br>
                   <a href="sortandfilter.html"><img src="./assets/images/icons/filter.png"></a>
            </div>
        <!-- end -->

            <!-- Label identifying currently visible sorting choice -->
            <div class="search-result-title" align="center">
                <p>⬇︎ Most recent Crwd Posts ⬇︎</p>
            </div>
        <div>    

                {{#each jobs}}
                <div class="card" align="center">
                    <div class="card-image waves-effect waves-block waves-light">

                        <img class="activator" src="{{this.jobImage2}}" width="80%" height"">
                    </div>
                    <div class="card-content" align="center">
                        <h5>{{this.jobType}}
                            <hr>{{this.jobTitle}}</h5>
                        <p>{{this.jobCompany}}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{this.jobType}}
                            <hr>{{this.jobTitle}}
                            <i class="material-icons right close">close</i>
                        </span>
                        <p><h6> Description: </h6> {{this.jobDescription}}</p>
                        <p><h6> Company: </h6> {{this.jobCompany}}</p>
                        {{!-- <p><h6>Category: </h6>{{this.jobCategory}}</p> --}}
                        <p><h6>Shift:</h6> {{this.jobTime}}</p>
                        <p><h6>Phone Number:</h6> {{this.jobPhone}}</p>
                        <p><h6>Contact:</h6> {{this.jobContact}}</p>
                        <p><h6>Company URL: </h6>{{this.jobURL}}</p>

                    </div>
                </div>
                {{/each}}
        </div>
    </main>

